
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    text-decoration:none; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: Georgia, serif;
    
}

#top {
    position: fixed;
    margin-top: 0;
    width: 100%;
    margin-bottom: 30px;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    min-height: 50px;
    margin: 0 auto 0 auto;
    z-index: 1;
}

#topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 960px;
    margin: 0 auto 0 auto;
    min-height: 50px;
}

#topbar_logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 30px;
}

#topbar_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#menu_item {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}

#menu_item a {
  color: white
  text-decoration: none;
  display: inline-block;
  position: relative;
}

#menu_item a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  #menu_item a:hover:after { 
    width: 100%; 
    left: 0; 
  }

.menuitem {
    margin: 0 10px 0 10px;
}

.menuitem a {
    color: white;
}


#intro {
    background-image: url("./img/bg-intro.jpg");
    color: white;
    text-align: center;
    min-height: 460px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: bolder;
}
#intro h3 {
    padding: 20px;
    font-style: italic;
    font-size: 0.4em;
    font-weight: normal;
}

#coffee_cards {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

#card_list {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

#card_list img {
    padding: 20px;
}

#coffee_cards h3 {
  font-weight: 800;
  font-size: 2em;
}

#coffee_cards p {
    max-width: 500px;
    font-size: 1em;
    font-style: italic;
    text-align: center;
}

.card {
    padding: 0;
}

.card_description {
    margin-top: 20px;
    margin-left: 20px;
    line-height: 30px;    
    position: absolute;    
    max-width: 130px;
    height: 30px;
    background-color: #202020;
    text-align: center;
    font-style: italic;
    bottom: 7.5px;    
    color: white;
}

#coffee_types {
    padding: 40px;
    margin: 0 auto 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-color: #e9e5d9;
    
}

#coffee_type_cards {
    max-width: 700px;
    padding: 20px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    text-align: justify;

}

.coffee_type_card {
    
    margin: auto 10px auto 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coffee_type_card h2 {
    padding: 10px;
    font-weight: 600;
    font-size: 1.8em;
    }

.coffee_type_card p {
    padding: 10px;
    font-size: 0.7em;
}
.circle {
    border-radius: 100%;    
    width: 100px;
    height: 100px;
    border: 2px solid wheat;
}

.circle:hover {
    animation: mymove 3s normal;
}

@-webkit-keyframes mymove {
    0% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
  25% {
    -webkit-transform: scale(1.033);
    -ms-transform: scale(1.033);
    transform: scale(1.033);
  }
  75% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
  }
  @-webkit-keyframes mymove {
    0% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
    25% {
      -webkit-transform: scale(1.033);
      -ms-transform: scale(1.033);
      transform: scale(1.033);
    }
    75% {
      -webkit-transform: scale(1.066);
      -ms-transform: scale(1.066);
      transform: scale(1.066);
    }
    100% {
      -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
      transform: scale(1.25);
    }
  }

  

#brown {
    background-color: #512400;
}

#orange {
    background-color: #D97232;
}

#yellow {
    background-color: #E8A744;
}



.button {
    text-decoration:none; 
    text-align: center;
    line-height: 40px;
    max-width: 120px;
    height: 40px;
    border: 1px solid black;    
    align-items: center; 
    
}

.button:hover {
    cursor: pointer;
    background-color:#202020;
    
}

#stores {
    margin: 0 auto 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.storecard {
    padding: 10px;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px auto 15px auto;
}

.storedesc {    
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 15px;   
  
}

.storedesc h2 {    
    font-weight: 600;
    font-size: 1.6em;
}

.storeimg img {
    max-width: 400px;
}

.storedesc p {
    padding: 10px;
    font-size: 0.8em;
}

#newscontent {
    background-color: #E9E5D9;
    
}

#newsletter {
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;    
    min-height: 100px;
    
}

#newsText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#newsText h2{
font-size: 1.5em;
font-weight: 800;
}

#newsText h4{
font-style: italic;
    }

#newssignin {
    display: flex;
    flex-direction: row;

}

#newssignin a {
    background-color: #202020;
    color: white;
}

#newssignin input {
    background-color: #E9E5D9;
    color: white;
}


::placeholder{
    background-color: inherit;
    color: #C2BDB4;
    font-size: 1.4em;
    font-weight: bold;
    font-style: italic;
    line-height: 100%;
    font-family: Georgia, serif;
    align-self: center;
}

#footer_content {
    background-color: #D6D3C8;    
}

#footer_box {
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;    
    min-height: 70px;
    font-size: 0.8em;
}
